<!DOCTYPE html>

<head>

	<title>Ackuaria</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
	<script src="/javascripts/lib/jquery-2.1.1.min.js"></script>

	<!-- Load d3.js and c3.js -->
	<script src="/javascripts/lib/d3-master/d3.min.js" charset="utf-8"></script>
	<script src="/javascripts/lib/c3-0.3.0/c3.min.js"></script>

</head>

<body>

	CURRENT SESSION USERS (WITH GRAPHS)
	<br>
	<br>
	<div id="roomsList"></div>

</body>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/graphs.js" type="text/javascript"></script>
<script src="/javascripts/lib/canvasjs.min.js"></script>
<script src="/javascripts/main.js" type="text/javascript"></script>

<script>

  var roomsInfo = <%- JSON.stringify(roomsInfo) %>;
  var userStream = <%- JSON.stringify(userStream) %>;
  var statusId = <%- JSON.stringify(statusId) %>;
  var userName = <%- JSON.stringify(userName) %>;
  var rooms = <%- JSON.stringify(rooms) %>;
  var streamRoom = <%- JSON.stringify(streamRoom) %>;


  paintUsers(roomsInfo, userStream, statusId, userName, rooms, streamRoom);
  
</script>

</html>