
<div id="historyContainer" class="container">
    <div id="title">
        <div id="historyTitle">ROOMS HISTORICAL DATA</div>
        <a href="/" class="back" id="back"><span class="fa fa-reply dark"></span><span class="light blue"> BACK TO </span><span class="bold dark">ROOMS</span></a>
    </div>

    <div id="history" class="row">
        <div id="leftCol" class="col-md-7">
            <!--<div id="custom-search-input">
                <div class="input-group">
                    <input id="searchBar" type="text" class="filter search-query form-control" placeholder="Search" />
                    <span class="input-group-btn">
                        <button class="btn btn-danger" type="button">
                            <span class=" glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>-->
            <div id="overall">
                <div class="row">
                    <div class="col-md-2">
                        <span>Sessions </span><span class="info bold dark" id="stats_sessions"> <%- info.n_sessions %></span>
                    </div>
                    <div class="col-md-2">
                        <span>Rooms </span><span class="info bold dark" id="stats_rooms"><%- info.n_rooms %></span>
                    </div>
                    <div class="col-md-2">
                        <span>Users </span><span class="info bold dark" id="stats_users"><%- info.n_users %></span>
                    </div>
                    <div class="col-md-4">
                        <span>Time published </span><span class="info bold dark" id="stats_time"><%- info.time_published %></span>
                    </div>

                    <div class="col-md-2">
                         <span class="button" id="exportButton">Export</span>
                    </div>
                </div>
            </div>

            <div id="rooms" class="row">
                
            </div>
        </div>
        <div id="rightCol" class="col-md-5">
            <div id="filtersContainer">
                <div class="row" id="dateSelect">
                    <div class="col-md-1">
                        <span>From</span>
                    </div>
                    <div class="col-md-4">
                        <input class="date" type="text" name="initCalendar" id="initCalendar" placeholder="dd/mm/yyyy">
                        <span class="dateIcon button fa fa-calendar" id="initButton"></span>
                    </div>
                    <div class="col-md-1">
                        <span>to</span> 
                    </div>
                    <div class="col-md-4">
                        <input class="date" type="text" name="finalCalendar" id="finalCalendar" placeholder="dd/mm/yyyy">
                        <span class="dateIcon button fa fa-calendar" id="finalButton"></span>
                    </div>
                    <div class="col-md-2">
                        <span class="toolIcon button fa fa-cog" id="configButton"></span>
                        <span class="collapsed fa fa-angle-down" id="collapseButtonDown"></span>
                        <span class="collapsed fa fa-angle-up" id="collapseButtonUp" hidden></span>
                    </div>
                </div>
                <div class="row filter_row" id="idFilter">
                    <div class="filters col-md-1">
                        <span>ID</span>
                    </div>
                    <div class="filters col-md-4">
                        <input id="room_id" class="filter" type="text" placeholder="">
                    </div>
                </div>
                <div class="row filter_row" id="idFilter">
                    <div class="filters col-md-1">
                        <span>Name</span>
                    </div>
                    <div class="filters col-md-4">
                        <input id="room_name" class="filter" type="text" placeholder="">
                    </div>
                </div>
                <!-- Añadir esto -->
                <div class="row filter_row key_value" id="filter_row_0">
                    <div class="filters col-md-1">
                        <span>Key</span>
                    </div>
                    <div class="filters col-md-4">
                        <div class="form-group">
                          <select class="form-control" id="key_0">
                            <option value="">Select key</option>
                            <% for (var k in keys) { %>
                            <option><%=keys[k]%></option>
                            <% } %>
                          </select>
                        </div>
                    </div>
                    <div class="filters col-md-1">
                        <span>Value</span>
                    </div>
                    <div class="filters col-md-4">
                        <input id="value_0" class="filter" type="text" placeholder="e.g. true">
                    </div>
                    <div class="filters col-md-2">
                        <span class="button toolIcon fa fa-times removeButton" todelete="filter_row_0" id="remove_button_1"></span>
                    </div>
                </div>
                <!-- Hasta aquí -->

                <div class="row filter_row" id="addFilter">
                    <div class="filters col-md-5">
                    </div>
                    <div class="filters col-md-5">
                    </div>
                    <div class="filters col-md-2">
                        <span class="button toolIcon fa fa-plus" id="addButton"></span>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-10">
                    </div>
                    <div class="col-md-2">
                        <span class="toolIcon button fa fa-search" id="searchButton"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="javascripts/lib/csv-generator.js"></script>

<script>
  var info = <%- JSON.stringify(info) %>;
  var keys = <%- JSON.stringify(keys) %>;
  paintRoomsList(info.room_list);
</script>