<div id="carouselContainer" class="container">
	<div class="back"><span class="light blue">BACK TO </span><span id="backRooms" class="bold dark">ROOMS </span> / <span id="backStreams" class="bold dark"><%= roomName %></span> </div>
	<div class="row-fluid">
		<div id="carousel">
		<div>
			<span id="selected">
			</span><span id="others">
			</span>
	    </div>
	    </div>
	</div>
</div>

<div id="subsContainer" class="container">
	<div id="dataAndSubs" class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 subsCol" id="dataCol" >
			<div id="streamInfo">
				<span id="pubState" class="fa fa-circle"></span>
				<span id="pubName"><%= userName %></span>
				<span id="pubId"><%= streamID %></span>
			</div>
			<div id="streamData">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="videoCol" >
					<span id="typeVideo"> VIDEO </span>
					<br>
					<br>
					SSRC: <span id="videoSSRC"></span>
					<br>
					rtcpBytesSent: <span id="videoBytesSent"></span>
					<br>
					rtcpPacketSent: <span id="videoPacketsSent"></span>
				</div>

				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="audioCol" >
				<span id="typeAudio"> AUDIO </span>
					<br>
					<br>
					SSRC: <span id="audioSSRC"></span>
					<br>
					rtcpBytesSent: <span id="audioBytesSent"></span>
					<br>
					rtcpPacketSent: <span id="audioPacketsSent"></span>
				</div>

			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 subsCol" id="subsCol">
			<div id="subsCount"><span id="numberSubs"> 0 </span> SUBSCRIBERS <i class="fa fa-users"></i></div>
		    <div class="btn-group btn-toggle" id="switch">
		        <button class="btn btn-sm btn-primary active" id="grid"><span class="glyphicon glyphicon-th-large"></span></button>
		        <button class="btn btn-sm btn-default" id="list"><span class="glyphicon glyphicon-menu-hamburger"></span> </button>
		    </div>
			<div class="row" id="search">
		       <div id="custom-search-input">
		            <div class="input-group col-md-12">
		                <input id="searchBar" type="text" class="search-query form-control" placeholder="Search" />
		                <span class="input-group-btn">
		                    <button class="btn btn-danger" type="button">
		                        <span class=" glyphicon glyphicon-search"></span>
		                    </button>
		                </span>
		            </div>
		        </div>
			</div>
		 	<div id="subscribers" class="row">

			</div>
		</div>
		</div>

</div>



<div class="modal fade" id="subscriberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel"><span id="subState" class="fa fa-circle"></span><span class="bold dark" id="username"></span></h4>
      </div>
      <div class="modal-body">
      	<div id="subModal" class="row">

	        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" id="dataModal">
				<span id="typeVideo"> VIDEO </span>
				<br>
				<br>
				SSRC: <span id="videoSSRC"></span>
				<br>
				PLI: <span id="pli"></span>
				<br>
				Bandwidth: <span id="videoBandwidth"></span>
				<br>
				Fraction Lost: <span id="videoFractionlost"></span>
				<br>
				Jitter: <span id="videoJitter"></span>
				<br>
				Packets Lost: <span id="videoPacketsLost"></span>
				<br>
				Source SSRC: <span id="videoSourceSSRC"></span>
				<br>
				<br>
				<span id="typeAudio"> AUDIO </span>
				<br>
				<br>
				SSRC: <span id="audioSSRC"></span>
				<br>
				Fraction Lost: <span id="audioFractionlost"></span>
				<br>
				Jitter: <span id="audioJitter"></span>
				<br>
				Packets Lost: <span id="audioPacketsLost"></span>
				<br>
				Source SSRC: <span id="audioSourceSSRC"></span>
	        </div>
	       	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" id="subscribersModal">
	        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script>

  var rooms = <%- JSON.stringify(rooms) %>;
  var roomID = <%- JSON.stringify(roomID) %>;
  var roomName = <%- JSON.stringify(roomName) %>;
  var streamID = <%- JSON.stringify(streamID) %>;
  var streams = <%- JSON.stringify(streams) %>;
  var users = <%- JSON.stringify(users) %>;
  var states = <%- JSON.stringify(states) %>;

  paintSubscribersGrid();
  paintPublishers();

</script>